body {
	margin: 0px;
	min-width: 300px;
}

nav .links-wrapper { 
	width: 100%;
	background-color: lightgrey;
	position: fixed;
  	top: 0;
	display: flex;
	align-items: center;
	min-width: 300px;
}

nav .links-wrapper ul {
	display: flex;
	margin: 0px;
	padding: 0px;
}

nav .links-wrapper ul.left, nav .links-wrapper ul.right {
	flex: 1;
}

nav .links-wrapper ul.left {
	justify-content: flex-start;
}

nav .links-wrapper ul.right {
	justify-content: flex-end;
}

nav .links-wrapper ul.center {
	flex: 4;
	justify-content: center;
}

nav .links-wrapper ul li {
	list-style: none;
}

nav ul.right  li {
	display: flex;
}

nav .links-wrapper ul li a {
	text-decoration: none;
	padding: 16px 2vw;
	color: #000;
    font-weight: bold;
}

nav .links-wrapper ul.right li a {
	height: 50px;
	padding: 0px;
}

nav .links-wrapper ul.right .profile-pic {
	height: 50px;
}

nav .links-wrapper li a:hover {
    background-color: #cbcbcb;
}

.filler-text {
	margin: 60px 6vw;
	text-align: justify;
}

.filler-text h3 {
	text-align: center;
}