body {
	margin: 0px;
}

nav .links-wrapper, nav .toggle {
	width: 100%;
	background-color: lightgrey;
	position: fixed;
  	top: 0;
}

nav .toggle {
	display: none;
}

nav .links-wrapper { 
	display: flex;
}

nav .links-wrapper ul {
    padding: 0px;
    display: inline-block;
}

nav .links-wrapper li {
	display: inline-block;
}

nav .links-wrapper li a {
    color: #000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

nav .links-wrapper ul.left, nav .links-wrapper ul.right {
	flex: 1;
}

nav .links-wrapper ul.right {
	text-align: right;
}

nav .links-wrapper li a:hover {
    background-color: #cbcbcb;
}

.lorem {
	padding: 50px 10vw;
}

@media screen and (max-width: 568px) {
	nav .toggle .menu {
		text-align: right;
	}
	nav .toggle .menu i {
		font-size: 36px;
		color: #000;
    	padding: 7px;
	}
	nav .toggle {
		display: block;
		height: 50px;
	}
	nav .links-wrapper {
		display: none;
	}
	nav .links-wrapper.active {
		top: 50px;
	}
	nav .links-wrapper ul {
		margin: 0px;
		display: block;
	}
	nav .links-wrapper ul li {
		display: block;
		padding: 0px;
	}
	nav .links-wrapper ul li {
		max-width: 568px
	}
	nav .links-wrapper ul li a {
		display: block;
		width: 80px;
		padding: 16px 100% 16px 16px;
		text-align: left;
	}
	nav .links-wrapper.active {
		display: block;
	}
}